{% extends "base.html" %}

{% block begin %}
<section id="intro" class="main style1 dark fullscreen">
  <div class="content">
    <br><br><br><br><br><br>
    <header>
      <h2>Welcome to my website!</h2>

      <p>&nbsp;I will continue to updated it.</br>
      Hope you would like it. </p>
    </header>
  </br><br><br><br><br><br><br><br><br><br><br>
    <footer>
      <a href="#one" class="nickbutton style2 down">More</a>
    </footer>
  </div>
</section>

  <section id="one" class="main style2 right dark fullscreen">
    <div class="content box style2">
      <br/><br/>
        <h1>Tweet</h1>
      <br/><br/><br/><br/>
      <p>此為類似twitter的網頁應用程式</p>
      <p>您可以註冊之後用此來發文或追蹤好友的貼文</p>
      <p>分享您的生活給朋友以及與他們互動</p>
      <br/><br/>
      <p>希望您會喜歡！</p>
      <br/><br/><br/><br/><br/><br/><br/>
    </div>
    <a href="#two" class="nickbutton style2 down anchored">Next</a>
  </section>

  <section id="two" class="main style2 left dark fullscreen">
    <div class="content box style2">
      <br/><br/>
        <h1>Blog</h1>
      <br/><br/><br/><br/>
      <p>(製作ing)</p>
      <p>此為我個人的部落格</p>
      <p>不定時會新增文章至此上面</p>
      <p>歡迎大家來看看</p>
      <p>一起學習 &nbsp一起進步！！</p>
      <br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    <a href="#contact" class="nickbutton style2 down anchored">Next</a>
  </section>

  <!-- Contact -->
    <section id="contact" class="main style3 secondary">
      <div class="content">
          <br/><br/><br/><br/>
          <h1>Thanks for your reading.</h1>
          <br/><br/><br/><br/>
          <p>希望您會喜歡我的網站</p>
          <p>我會持續學習並增加更多功能的！</p>
          <br/><br/><br/><br/><br/><br/>

        <div class="box">
            <a class="go5"href="#intro"><input type="submit2" value="Return to the home page" /></a><br/><br/><br/><br/><br/><br/>
        </div>
      </div>
    </section>

<!-- Footer -->
  <footer id="footer">

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- Icons -->
    <ul class="nav navbar-nav navbar-left nickaction">
      <li><a href="https://github.com/nickest14/" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100001219184286&ref=bookmarks" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/nickest11/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>


    <!-- Menu -->
      <ul class="nav navbar-nav navbar-right nickaction2">
        <li> @produced by Nick </li>
      </ul>

  </footer>


{% endblock begin %}
