{% load static %}
{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Big Picture by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>NICK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
    <link href="{% static 'nicklove/css/main.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'images/thumbsv' %}" rel="stylesheet"> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Nick</h1>
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">What We Did</a></li>
						<li><a href="#two">Who I Am</a></li>
						<li><a href="#work">Memory</a></li>
						<li><a href="#contact">The End</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Happy Birthday to Fiona!</h2>

						<p>&nbsp;寶寶哈囉 今天是3月20日耶</br>
						真是值得慶祝的好日子！！ </p>
					</header>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>What We Did</h2>
					</header>
					<p>上週我們一起去了中山以及成大的校園博覽會,果然四大就是不一樣,
						在那邊看到好多半導體以及電腦通訊大廠, 希望接下來妳能夠順利得到心目中理想的工作, 要加油喔!
					</p>
					<p>我會儘我所能幫助妳的！</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Who I Am</h2>
					</header>
					<p>我是帥旻, 收到的運動相機還滿意嗎? 為了這個禮物我想了好久,這次終於能給你一點驚喜了！
					希望妳好好研究怎麼使用,並且珍惜它,不要浪費了他的才能喔!</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Memory</h2>
						<p>下方收錄了一些照片,希望妳會喜歡</p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/7.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/2.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/3.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/4.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/5.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/6.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/1.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/11.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/12.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="#work" class="image fit"><img src="/static/images/13.JPG" title="Nec Consequat Mus" alt="" /></a>
							</article>
						</article>
						<article class="from-left">
							<a href="#work" class="image fit"><img src="/static/images/19.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<article class="from-left">
							<a href="#work" class="image fit"><img src="/static/images/23.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						</div>

					<div class="gallery go">
						<article class="from-left">
							<a href="#work" class="image   "><img src="/static/images/8.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<article class="from-left">
							<a href="#work" class="image  "><img src="/static/images/9.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<article class="from-left ">
							<a href="#work" class="image  "><img src="/static/images/10.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<h1>Let's go for party!</h1>
					</div>

					<div class="gallery go">
						<article class="from-left">
							<a href="#work" class="image  "><img src="/static/images/14.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<article class="from-left">
							<a href="#work" class="image  "><img src="/static/images/15.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<article class="from-left">
							<a href="#work" class="image  "><img src="/static/images/16.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<h1>OK?!</h1>
					</div>
					<div class="gallery go">
						<article class="from-left">
							<a href="#work" class="image  "><img src="/static/images/18.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>
						<article class="from-left">
							<a href="#work" class="image  "><img src="/static/images/20.JPG" title="Nec Consequat Mus" alt="" /></a>
						</article>

					</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>Thanks for your reading.</h2>
						<p>我真的很幸運,能夠與寶寶一起幸福的去這麼多地方,
							相信我們能夠持續相愛的走下去！</p>
						<p>祝寶寶生日快樂！！！</p>
					</header>

					<div class = "gallery">
						<article >
					  <img src="/static/images/17.JPG" alt="Norway" style="width:100%">
					</article>
					<article class="from-left goo">
						<a href="#work" class="image fit"><img style='position:fixed; top:50px;' src="/static/images/22.JPG" title="Nec Consequat Mus" alt="" /></a>
					</article>
					</div>
							<!-- <a href="#work" class=""><img class="img4" src="/static/images/17.JPG" title="Nec Consequat Mus" alt="" /></a> -->

					<div class="box">
							<ul class="actions ">
								<li><a class="go5"href="#intro"><input type="submit" value="Return to home page" /></a></li>
							</ul>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="https://www.facebook.com/profile.php?id=100001219184286&ref=bookmarks" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/minminminokok/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; produced by Nick </li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
